# Configuration files
config.php

# Environment variables
.env
.env.*

# Dependencies
node_modules/
/vendor/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Serverless
.serverless/

# Distribution files
dist/ 